body {
    /* background-color: antiquewhite; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/grass_texture.png");

}

header {
    margin: 0px 0 0px 0;
}

canvas {
    /* background-color: rgb(11, 96, 11); */
    height: 700px;
    width: 1200px;
    /* height: 80vh; */
    /* width: 100vw;  */
    /* border-left: 20px solid white; */
    /* background: url("../img/grass_texture.png"); */
    
}

#scoreboard {
    background-color: gray;
    height: 60px;
    width: 1200px;
    display: none;
    grid-template-columns: 60px 200px 200px 1fr 200px 200px 60px;
    grid-template-rows: 60px;
    grid-template-areas: 
    "userTeamLogo userTeamInfo userTeamScore clock compTeamScore compTeamInfo compTeamLogo";
    font-family: 'Bungee', cursive;
}

#userTeamInfoDiv {
    grid-area: userTeamInfo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userTeamLogoDiv {
    grid-area: userTeamLogo;
    /* background-color: hotpink; */
    height: 60;
}

#userLogo {
    display: flex;
    width: 60px;
    height: 60px;
    /* background-color: orange; */
}

#userTeamScoreDiv {
    grid-area: userTeamScore;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clockDiv {
    grid-area: clock;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compTeamScoreDiv {
    grid-area: compTeamScore;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compTeamInfoDiv {
    grid-area: compTeamInfo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compTeamLogoDiv {
    grid-area: compTeamLogo;
}

#compLogo {
    height: 60px;
    width: 60px;
}

.joImages {
    display: none;
}

.userTeam {
    margin: 0;
    font-size: 28px;
}

.compTeam {
    margin: 0;
    font-size: 28px;
}

.score {
    font-size: 70px;
}

.clock {
    font-size: 40px;
}